In [1]:
using DataFrames

In [12]:
dataframe=readtable("sample.csv",header=false,separator=',')

3×3 DataFrames.DataFrame
│ Row │ x1 │ x2 │ x3 │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 2  │ 3  │
│ 2   │ 4  │ 5  │ 6  │
│ 3   │ 7  │ 8  │ 9  │

In [13]:
row,col=size(dataframe)
for  c =1:col
    dataframe[:,c] *= c
end

In [14]:
dataframe

3×3 DataFrames.DataFrame
│ Row │ x1 │ x2 │ x3 │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 4  │ 9  │
│ 2   │ 4  │ 10 │ 18 │
│ 3   │ 7  │ 16 │ 27 │

In [15]:
writetable("output.csv",dataframe,header=false,separator=',')

In [16]:
;cat output.csv

1,4,9
4,10,18
7,16,27